{{#navigation/page-navigation type=type}}
  <div id="main" class="container clear-top">
    <div class="row">
      <div class="col-xs-12">
        {{yield}}
      </div>
    </div>
  </div>
{{/navigation/page-navigation}}