.float-left {
  float: left;
}

.overlapping-header {
  margin-top: -143px;
}

.restaurant-profile-picture {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  border-radius: 8px;
  background-color: #d8d8d8;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
  border: solid 6px #ffffff;
}

.restaurant-profile-picture img {
  width: 100%;
  height: auto;
}

.restaurant-name {
  font-size: 30px;
  color: #fff;
}

.restaurant-tile-foodtypes-light,
.restaurant-tile-pricernage-light,
.restaurant-tile-ratecount-light {
  color: #fff;
}

.restaurant-tile-stars-light i.empty {
  color: rgba(255, 255, 255, 0.4);
}

.space-out-left {
  margin-left: 16px;
}

.restaurant-rate-this-button {
  float: right;
  height: 36px;
  border: none;
  outline: none;
  padding: 0 19px 0 15px;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  color: #131d24;
  margin-top: -45px;
}

.restaurant-rate-this-button i {
  margin-right: 8px;
  color: #fd6f60;
}

.move-up-compensate-for-overlay {
  margin-top: -106px;
}

.reservation-form {
  display: block;
  width: 100%;
  height: 56px;
}

.reservation-form:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

.reservation-form > * {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: 25%;
  display: block;
  box-sizing: border-box;
  float: left;
  height: 100%;
}

.reservation-form > *:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.reservation-form > *:not(.reservation-form-button) {
  border: solid 1px #e3e3e3;
  border-right: none;
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
  color: #131d24;
}

.reservation-form-button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fd6f60;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.restaurant-reservation-availability {
  font-size: 20px;
  font-weight: normal;
  color: #131d24;
  margin-top: 30px;
  margin-bottom: 6px;
}

.restaurant-reservation-info {
  font-size: 14px;
  font-weight: normal;
  color: #131d24;
  margin-bottom: 30px;
}

.restaurant-reservation-info span {
  margin-right: 15px;
}

.restaurant-reservation-info span i {
  padding-right: 8px;
}

.restaurant-reservation-info span i.fa-check-circle {
  color: green;
}
.restaurant-reservation-info span i.fa-times-circle {
  color: red;
}

.restaurant-reservation-times-title {
  font-size: 18px;
  font-weight: normal;
  color: #131d24;
  margin-top: 0;
  margin-bottom: 15px;
}

.restaurant-reservation-times {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}

.restaurant-reservation-times span {
  padding: 7px 16px;
  background-color: #fd6f60;
  border-radius: 2px;
  margin-right: 10px;
}

.restaurant-card {
  position: relative;
  padding: 28px 30px 44px;
  display: block;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.restaurant-card:first-child {
  margin-top: 47px;
}

.restaurant-card-title,
.restaurant-card-subtitle,
.restaurant-card-bodytext {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-size: 20px;
  color: rgba(19, 29, 36, 0.4);
}

.restaurant-card-subtitle,
.restaurant-card-bodytext {
  font-size: 18px;
}

.restaurant-card-bodytext {
  color: #1a1a1a;
  margin: 0;
}

.restaurant-card-title.floating {
  float: left;
  margin-right: 40px;
}

.restaurant-navigation {
  display: block;
  padding-left: 20px;
  padding-top: 20px;
}

.restaurant-navigation li {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #131d24;
  padding: 10px 0;
}

.restaurant-navigation li a:target {
  opacity: 1;
}

.restaurant-navigation li a {
  opacity: 0.4;
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.modal-content {
  position: relative;
  box-sizing: border-box;
  padding: 50px 118px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.stacktrace-content {
  padding: 0;
}

.stacktrace-content p {
  /*word-break: break-all;*/
  word-wrap: break-word;
}

.close-modal-button {
  position: absolute;
  top: 20px;
  right: 25px;
}

.modal-title {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #131d24;
  margin-bottom: 37px;
}

.review-textarea {
  display: block;
  box-sizing: border-box;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 233px;
  border-radius: 2px;
  outline: none;
  border: solid 1px #e1e1e1;
  resize: vertical;
}

.rating-control {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(19, 29, 36, 0.2);
}

.rating-control label {
  cursor: pointer;
}

.rating-control input[type="radio"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.rating-control .checked i {
  color: #fd6f60;
}

.submit-review-button {
  width: 100%;
  display: block;
  height: 53px;
  border-radius: 3px;
  background-color: #fd6f60;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-top: 49px;
  outline: none;
  border: none;
}

.tab-pane.nav-pills {
  > li {
    cursor: pointer;
  }
}
